@charset "UTF-8";
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

a {
  text-decoration: none; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.sm-warpper {
  max-width: 315px;
  margin: 0 auto; }

.lg-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  padding: 0 30px; }

.intro-title-sm {
  margin: 30px 0; }
  .intro-title-sm .intro-title-img {
    display: block;
    height: 60px;
    margin: 0 auto; }

.pagination {
  margin: 30px 0; }
  .pagination a {
    border: 1px solid #EAF0ED;
    color: #3F5D45;
    font-weight: bold;
    padding: 16px 24px;
    text-decoration: none; }
    .pagination a:hover {
      background-color: #3F5D45;
      color: white; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  z-index: 999; }

.nav-btn-show {
  display: block !important; }

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #3F5D45;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  #nav .navbar-icon {
    font-size: 21px; }
  #nav .logo-img-sm {
    height: 17.74px;
    display: block; }
  #nav .cart-icon {
    font-size: 22px;
    position: relative; }
    #nav .cart-icon .fa-shopping-cart {
      color: #3F5D45; }
  #nav .orderNum {
    position: absolute;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 50%;
    top: -50%;
    right: -50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    display: none; }

.shopping-box {
  position: absolute;
  top: 100px;
  width: 0;
  right: -5%;
  background: #EAF0ED;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .shopping-box .cart-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 1rem 0; }
    .shopping-box .cart-item .cart-item-img {
      width: 50px;
      height: 50px;
      border-radius: 50%; }
  .shopping-box .cart-item-title {
    margin: 0;
    text-transform: capitalize;
    font-weight: bold; }
  .shopping-box .price-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .shopping-box .check-cart-btn, .shopping-box .close-cart-btn {
    display: block;
    text-align: center;
    color: #3F5D45;
    border: 1px solid #3F5D45;
    margin-top: 1rem; }

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg); }

.banner {
  margin-top: 84px; }

@media (max-width: 767px) {
  .logo-lg, .nav-text-lg {
    display: none; }
  #nav {
    padding: 27px 0; }
  .nav-btn-show {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .nav-btn-show a {
      font-size: 1.5rem;
      padding: 0.5rem;
      color: #3F5D45; } }

@media (min-width: 768px) {
  .container {
    max-width: 940px;
    margin: 0 auto;
    width: calc(100% - 42px - 42px); }
  .navbar-icon, .logo-sm {
    display: none; }
  .logo-img-lg {
    height: 40px; }
  .nav-text-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-text-lg .nav-text {
      padding: 0 30px;
      font-weight: bold;
      color: #3F5D45;
      line-height: 84px; }
      .nav-text-lg .nav-text:hover {
        background: #3F5D45;
        color: #fff; } }

footer .email-section {
  background: #3F5D45;
  padding: 30px 0px 30px 0px; }

footer .email-container {
  max-width: 315px;
  margin: 0 auto; }

footer .footer-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  footer .footer-subscription .footer-logo {
    width: 40px;
    height: 40px;
    padding: 0 20px; }
  footer .footer-subscription .subscription-text {
    font-size: 24px;
    letter-spacing: 1px;
    color: #fff; }

footer .input-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #EAF0ED;
  margin-top: 30px;
  height: 56px; }
  footer .input-email .input-text {
    outline: none;
    border: none;
    background: #EAF0ED; }
  footer .input-email .email-icon {
    padding-left: 20px; }
  footer .input-email .footer-right-arrow {
    width: 64px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background: #FFE180; }

footer .contact-section {
  background: #EAF0ED; }

footer .contact-us {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 315px;
  margin: 0 auto;
  padding-top: 39px;
  padding-bottom: 30px;
  height: 311px;
  color: #3F5D45; }
  footer .contact-us .footer-why-icon {
    height: 26.6px;
    width: 171.22px; }
  footer .contact-us .footer-info {
    line-height: 1.5;
    margin-top: 39.5px;
    margin-bottom: 37.5px; }
  footer .contact-us .social-media {
    margin-bottom: 23px; }
    footer .contact-us .social-media .social-media-icon {
      width: 32px;
      height: 32px; }

@media (max-width: 767px) {
  footer .footer-logo-img-lg {
    display: none; } }

@media (min-width: 768px) {
  footer .email-container {
    max-width: 940px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .email-container .footer-logo {
      padding: 0 20px 0 80px; }
    footer .email-container .input-email {
      margin-left: 122px;
      margin-top: 0;
      width: 380px; }
  footer .contact-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 38.9px 73px 30px 77px;
    max-width: 960px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 341px; }
    footer .contact-us .footer-info {
      margin-top: 115.5px;
      margin-bottom: 30px;
      line-height: 1.4; }
    footer .contact-us .footer-logo-lg {
      text-align: right;
      margin-bottom: 43px; }
      footer .contact-us .footer-logo-lg .footer-logo-img-lg {
        height: 219px; } }

@media (max-width: 767px) {
  .order, .order-list, .order-title {
    display: none; } }

@media (min-width: 768px) {
  .checkout-1 .lg-wrapper, .checkout-2 .lg-wrapper, .checkout-3 .lg-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 122px 30px 65px 30px; }
  .checkout-1 .wrapper-left, .checkout-2 .wrapper-left, .checkout-3 .wrapper-left {
    max-width: 460px; }
  .checkout-1 .wrapper-right, .checkout-2 .wrapper-right, .checkout-3 .wrapper-right {
    width: calc(100% - 460px);
    padding-left: 20px;
    text-align: center;
    min-width: 250px; }
  .checkout-1 .order-title, .checkout-2 .order-title, .checkout-3 .order-title {
    background-color: #EAF0ED;
    color: #3F5D45;
    font-weight: bold;
    padding: 16px 0; }
  .checkout-1 .order, .checkout-2 .order, .checkout-3 .order {
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    margin-bottom: 20px; }
    .checkout-1 .order .order-infor, .checkout-2 .order .order-infor, .checkout-3 .order .order-infor {
      padding: 0 30px 8px 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #3F5D45; }
    .checkout-1 .order .order-first-padding, .checkout-2 .order .order-first-padding, .checkout-3 .order .order-first-padding {
      padding-top: 16px; }
    .checkout-1 .order .order-total, .checkout-2 .order .order-total, .checkout-3 .order .order-total {
      font-size: 20px;
      font-weight: bold;
      padding-top: 16px;
      padding-bottom: 16px; }
  .checkout-1 .cart-list, .checkout-2 .cart-list, .checkout-3 .cart-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 16px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #3F5D45;
    border: 1px solid #EAF0ED; }
    .checkout-1 .cart-list .cart-img, .checkout-2 .cart-list .cart-img, .checkout-3 .cart-list .cart-img {
      width: 120px;
      height: 80px; }
    .checkout-1 .cart-list .item-price, .checkout-2 .cart-list .item-price, .checkout-3 .cart-list .item-price {
      font-size: 20px; } }

.progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 153px;
  position: absolute;
  top: 43px;
  right: 8%; }
  .progress:before {
    content: '';
    width: 90%;
    height: 1px;
    background: #EAF0ED;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0; }
  .progress .checkCircle {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #3F5D45;
    position: relative;
    z-index: 1; }
    .progress .checkCircle.active:before {
      content: '';
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .progress .fa-check {
    color: #3F5D45;
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: #fff;
    line-height: 22px;
    text-align: center;
    top: -1px;
    left: -1px;
    border-radius: 50%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.checkout-3 .wrapper-left {
  width: 100%; }

.checkout-3 .check-shipping {
  position: relative;
  padding: 30px;
  background-color: #3F5D45;
  color: #fff; }
  .checkout-3 .check-shipping .check-text {
    font-size: 36px;
    margin-bottom: 13px; }
  .checkout-3 .check-shipping .input {
    width: 100%;
    position: relative; }
    .checkout-3 .check-shipping .input .btn {
      width: 100%;
      height: 56px;
      font-size: 20px;
      background: #3F5D45;
      color: #fff;
      border: none;
      border: 1px solid #EAF0ED;
      margin-top: 30px; }
    .checkout-3 .check-shipping .input .invoice-btn {
      background: #EAF0ED;
      color: #3F5D45; }
  .checkout-3 .check-shipping .input-item {
    font-size: 20px;
    padding-top: 16px; }
    .checkout-3 .check-shipping .input-item input[type="text"], .checkout-3 .check-shipping .input-item input[type="number"] {
      background: #eaf0ed;
      height: 56px;
      border: none;
      outline: none;
      padding: 17px 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 8px;
      width: 100%; }
    .checkout-3 .check-shipping .input-item .fa-cc-visa {
      color: #3F5D45;
      position: absolute;
      top: 56%;
      right: 22px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.checkout-3 .shipping-text {
  text-align: center;
  background-color: #FFE180;
  font-size: 24px;
  font-weight: bold;
  height: 65px;
  line-height: 65px; }
  .checkout-3 .shipping-text a {
    color: #3F5D45; }
